.footer {
    padding: 45px 15px 15px 15px;
    color: #7d7d7d;
    background: #f2f2f2;
  }

.footer-info {
  font-size: 11.7px;
  font-family: 'Pretendard-Regualr';
  padding: 25px 0 15px 0;
}

.ZIC {
  font-size: 20px;
  font-family: 'Alongserifbsc-regular';
  margin-right: 310px;
}
